* {
  padding: 0;
  margin: 0;
}

body {
  font-family: serif;
  background-color: #333;
  color: #fff;
}

.container {
  margin: 3em 0.6em;
  text-align: center;
}

.btn {
  padding: 10px;
  font-size: 1.2em;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .btn {
    width: 100%;
  }
}

.quote__title {
  margin-bottom: 0.7em;
}

.quotes__content {
  margin-bottom: 1em;
}

.quote__text {
  margin-bottom: 0.7em;
  font-size: 1.3em;
  font-style: italic;
}
.quote__author {
  font-size: 1.2em;
  font-weight: bold;
}
.quote__btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.quote__btn {
  background-color: #007bff;
}

.quote__btn:hover {
  background-color: #0056b3;
}

.quote__btn-public-api {
  background-color: #28a745;
}

.quote__btn-public-api:hover {
  background-color: #1e7e34;
}

.quote__btn-own-api {
  background-color: #48c5ff;
}

.quote__btn-own-api:hover {
  background-color: #0787c2;
}

.quote__star {
  cursor: pointer;
  color: gold;
  font-size: 2.4em;
  vertical-align: middle;
}

.favorite-quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.favorite-quotes__card {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
}

.favorite-quotes__card p:nth-child(1) {
  height: 100%;
}

.favorite-quotes__text {
  font-size: 1.2em;
  font-style: italic;
  margin: 0.5em 0;
}

.favorite-quotes__author {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.5em 0 1em 0;
}

.favorite-quotes__btn {
  background-color: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  align-self: center;
}
.favorite-quotes__btn:hover {
  background-color: lightcoral;
  color: white;
  border: 2px solid lightcoral;
  transition: 0.3s all;
}
